.container {
  margin: 20px;
}

.container.entries-component {
  width: 70%;
  margin-top: 50px;
}

.input-group {
  margin: 50px;
}

.btn-primary.btn-circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.btn-secondary.btn-circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.entry-date {
  margin-bottom: 20px;
}
